Package: 4-bit-binary-practice
Version: 1.0
Depends: python3, python3-os, python3-time, python3-random
Architecture: all
Maintainer: owmyeyesturnondarkmode <https://github.com/owmyeyesturnondarkmode>
Description: A practice tool for learning how to fluently convert 4 bit binary into hexidecimal.